.homeHeader {
  position: static;
  margin-bottom: none;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.homeLogo {
  padding-top: 6px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    justify-items: center;
    margin-bottom: 88px;
    color: var(--text-color);
}

.feature {
    height: 152px;
    width: 152px;
    border-radius: 50%;
}

.feature:hover {
    cursor: pointer;
}

.breathingBtn {
    background-image: url('../../assets/images/breathing.svg');
    background-size: cover;
}

.journalsBtn {
    background-image: url('../../assets/images/daily_journal.svg');
    background-size: cover;
}

.sleepLogBtn {
    background-image: url('../../assets/images/sleep_log.svg');
    background-size: cover;
}

.queryBtn {
    background-image: url('../../assets/images/pair_up.svg');
    background-size: cover;
}

.profileBtn {
    width: 152px;
    height: 32px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    color: #2E5DA4;
    border: 1px solid #2E5DA4;
    border-radius: 4px;
    background-color: #FDFFF9;
    font-family: var(--header-font);
}

.commentSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  flex-wrap: nowrap;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 80%, transparent 100%);
  gap: 10px;
  padding-left: 16px;
}

.quote, .comment {
  margin: 0;
}

.quote {
  font-weight: 700;
}

.featureDiv > p {
  text-align: center;
}

@media (min-width: 320px) {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 16px 20px 16px ;
    position: absolute;
    width: 100%;
  }
  
  h1 {
    font-size: 32px;
    color: var(--text-color);
    font-family: var(--header-font);
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;
  }

  .introText{
    padding-left: 16px;
    padding-right: 16px;
  }

  .welcome {
    width: 375px;
    height: 348px;
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  .features {
    padding-top: 88px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    justify-items: center;
  }
}

@media (min-width: 768px) {
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    justify-items: center;
  }

  .navBar {
    position: absolute;
    background-color: transparent;
    width: 100%;
    padding: 24px 56px 0;
  }

  .introSection {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .welcome {
    order: 2;
    width: 50%;
    height: auto;
    margin: 0;
  }

  .introText {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 124px 30px 0 56px;
  }

  .commentSection {
    justify-content: space-between;
    padding: 0 56px;
    margin: 0;
    width: 100%;
  }

  .footer__container {
    padding-top: 32px;
    margin: 20px 56px;
  }

  .userComment {
    max-width: 353px;
  }

  .description {
    text-align: left;
    font-size: 16px;
  }

  .introTitle {
    text-align: left;
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .features {
    padding-top: 142px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 104px;
    justify-items: center;
  }

  h1 {
    font-size: 32px;
    color: var(--text-color);
    font-family: var(--header-font);
    font-weight: 700;
    text-align: left;
    margin-bottom: 4px;
  }

  .introSection {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    width: 100%;
  }

  .welcome {
    order: 2;
    width: 50%;
    height: auto;
    margin: 0;
  }

  .introText {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 216px 47px 0 142px;
  }

  .navBar {
    position: absolute;
    background-color: transparent;
    width: 100%;
    padding: 24px 142px 0;
  }

  .description {
    text-align: left;
    font-size: 16px;
  }

  .commentSection {
    justify-content: space-between;
    mask-image: none;
    padding: 0 142px;
    margin: 0;
    width: 100%;
  }

  .footer__container {
    padding-top: 32px;
    margin: 80px 142px;
  }

  .userComment {
    max-width: 353px;
  }

  .featureDiv {
    transition: all .2s ease-in-out;
  }

  .featureDiv:hover {
    transform: scale(1.1);
  }
}