.homeHeader {
  position: static;
  margin-bottom: none;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

img {
  padding-top: 6px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    justify-items: center;
    margin-bottom: 88px;
}

.feature {
    height: 152px;
    width: 152px;
    border-radius: 50%;
}

.feature:hover {
    cursor: pointer;
}

.breathingBtn {
    background-image: url('../../assets/images/breathing.svg');
    background-size: cover;
}

.journalsBtn {
    background-image: url('../../assets/images/daily_journal.svg');
    background-size: cover;
}

.sleepLogBtn {
    background-image: url('../../assets/images/sleep_log.svg');
    background-size: cover;
}

.queryBtn {
    background-image: url('../../assets/images/pair_up.svg');
    background-size: cover;
}

/* .profilePageBtn {
    background-image: url('https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png');
    background-size: cover;
} */

.profileBtn {
    width: 152px;
    height: 32px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    color: #2E5DA4;
    border: 1px solid #2E5DA4;
    border-radius: 4px;
    background-color: #FDFFF9;
    font-family: var(--header-font);
}

.commentSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  flex-wrap: nowrap;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 80%, transparent 100%);
  gap: 10px;
}

.userComment {
  flex: 0 0 70%;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 9px;
  margin: 0 0 20px;
  height: 88px;
  width: 241px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 4px;
}

.quote, .comment {
  margin: 0;
}

.quote {
  font-weight: 700;
}

.featureDiv > p {
  text-align: center;
}