.profilePage {
  background-color: var(--main-background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profileText {
  font-family: var( --body-font );
  font-weight: 400px;
  font-size: 16px;
  color: var(--text-color);
}

.profile-img{
  border-radius: 50%;
  margin-top: 24px;
}

.logoutBtn {
  margin-left: 16px;
}

  @media (min-width: 320px) {
    .logoutBtn {
      margin-top: 16px;
      width: 300px;
      align-items: center;
      margin-right:16px ;
      
    }
   
    .profile-img{
     padding-bottom: 50px;
     padding-top: 50px;
    }


     .profileHeader {
       background-color: var(--main-background);
     }
    }
  
  @media (min-width: 768px){
    .profileHeader {
      padding-right: 24px;
      padding-left: 24px;
    }

  }

@media (min-width: 1024px) {
  .profileHeader {
    width: 100%;
    margin-top: 30px;
  }
  
}